.weather-list {
  display: flex;
  justify-content: center;
}

.weather-card {
  font-size: 3rem;
  color: #a39f9d;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecastIcon {
  font-size: 7rem;
}

.temperature span {
  margin: 0 1rem;
}

.temperature span:first-child {
  color: #d9534f;
}

.temperature span:last-child {
  color: #5bc0de;
}
