.weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #777777;
  padding: 5rem 0;
}

.weather-list {
  display: flex;
}

.weather-card {
  font-size: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-card:hover {
  cursor: pointer;
}

.forecastIcon {
  font-size: 7rem;
}

.temperature span {
  margin: 0 1rem;
}

.temperature span:first-child {
  color: #d9534f;
}

.temperature span:last-child {
  color: #5bc0de;
}

.hours-card {
  display: flex;
  font-size: 1.7rem;
  margin: 1rem 0;
  padding: 1rem;
  border-top: 0.1rem solid #a39f9d;
}

.hour-card {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hour-card p {
  margin: 0.1rem 0;
}

.hour-card p:first-child {
  color: #d9534f;
}
